/* Custom Scrollbars and Leaflet dark overrides */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #020617;
}
::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
}
.leaflet-container {
    background-color: #090d16 !important;
}